html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: radial-gradient(circle, #060a06 25%, #1b1b1b);
  top: 0;
  width: 100%;
  position: sticky;
  margin-top: 100vh;
}

.section-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
  gap: 1vw;
}

.section-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 750px) {
  .section-container {
    .section-spacing {
      margin: 6vw 20vw 0 0;
    }
  }
}

@media (max-width: 750px) {
  .section-container {
    /* margin: 100px 40px 0 40px; */
  }
}
