/* Navbar.css */

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../assets/fonts/big_noodle_titling.ttf') format('truetype');
}

.navbar {
    width: 150px;
    padding: 10px;
    left: 0;
    min-height: 100vh;   
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 30px;
    gap: 2%;
    height: 100%;
}
/* -------------------------------------- */
/* -------------- DARK MODE -------------*/
/* -------------------------------------- */

.navbar-dark-mode{
    background-color: #060A06;
    color: #f7fff7;
}

.navbar-dark-mode a{
    color: #f7fff7;
}

.navbar-dark-mode a.active{
    background-color: #71A76C;
}

.navbar-dark-mode a:hover{
    background-color: #555;
}
/* --------------------------------------- */


/* --------------------------------------- */
/* -------------- LIGHT MODE -------------*/
/* --------------------------------------- */

.navbar-light-mode{
    background-color: #d0e1d0;
    color: #0E160E;
}

.navbar-light-mode a{
    color: #0E160E;
}
.navbar-light-mode a.active{
    background-color: #71A76C;
    color: #F5F9F5;
}
.navbar-light-mode a:hover{
    background-color: #F5F9F5;
    color: #0E160E;
}
/* --------------------------------------- */


.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.navbar a:hover {
    border-radius: 10px;
}

.navbar a.active {
    border-radius: 10px;
}
/* Responsive styles using media queries */

@media only screen and (max-width: 768px) {
    .navbar {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .navbar a {
        font-size: 20px; /* Adjust font size for smaller screens */
        padding: 0 2px 0 2px;
    }

    .navbar a.active {
        background-color: #4ecdc4;
        border-radius: 5px;
        color:#f7fff7;
    }

    .profile_image {
        width: 0; /* Adjust image size for smaller screens */
    }
}