@font-face {
    font-family: 'BigNoodleTitling';
    src:  url('../assets/fonts/big_noodle_titling.ttf') format('truetype');
}

.repo-card {
    font-family: 'BigNoodleTitling', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #4ecdc4;
    border-radius: 10px;
    background-color: #1d2225;
    padding: 10px;
}

.repo-name {
    color: #4ecdc4;
    margin: 10px;
}

.repo-description {
    color: #f7fff7;
    font-size: 25px;
    margin: 10px;
}

.language-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.repo-language {
    color: #4ecdc4;
    font-size: 25px;
    margin: 0;
}

.icon-language {
    font-size: 20px;
    color: #FFD600;
}

.icon-react {
    font-size: 20px;
    color: #61DBFB;
}

.icon-html {
    font-size: 20px;
    color: #E34C26;
}

.icon-css {
    font-size: 20px;
    color: #264DE4;
}

.repo-buttom{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #4ecdc4;
    border-radius: 20px;
    background-color: #1d2225;
    color: #f7fff7;
    width: auto;
    margin: 10px;
}

.repo-buttom:hover{
    background-color: #292F36;
}

.buttoms-container{
    display: flex;
    flex-direction: row;
}

.span-buttom{
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: large;
    margin: 10px;
}

.icon-button {
    color: #f7fff7;
    font-size: 20px;
}

/* Responsive styles using media queries */

@media only screen and (max-width: 768px) {
    .repo-description {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .repo-language,
    .icon-language,
    .icon-react,
    .icon-html,
    .icon-css {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .span-buttom {
        font-size: medium; /* Adjust font size for smaller screens */
    }

    .icon-button {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}