/* Section.css */

.style-title {
  font-family: 'BigNoodleTitling', sans-serif;
  margin: 10px 0 0 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-bottom: 20px;
  gap: 50px;
  position: relative;
}

/* .section:not(:first-child){
  border-top: 1px solid #ccc;
} */

.section h2{
  color: #ffe66d;
  font-size: 80px;
  margin: 0;
}

.line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ajusta el ancho total de la línea */
  height: 2px; /* Grosor de la línea en el centro */
  background: linear-gradient(to right, transparent 5%, #1d2225 50%, transparent 95%);
}

/* Responsive styles using media queries */

@media only screen and (max-width: 768px) {
  .section h2 {
    font-size: 40px; /* Adjust font size for smaller screens */
  }
}
  